.addEmpInput{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}
.addEmpInput input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px black;
  border: none;
}
.addEmpInput button{
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px black;
  border: none;
  background-color: royalblue;
  color: white;
}